services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: suportApp
    working_dir: /var/www
    volumes:
      - ./api:/var/www
    ports:
      - "8000:8000"
    env_file:
      - /api/.env
    command: php artisan serve --host=0.0.0.0 --port=8000